body{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
#home.wrapper{
  background-image: url('../images/fotolia_71030049.jpg');
  height: 700px;
  background-size: cover;
  padding-top: 150px;
  text-align: center;
  color: white;  
}
.wrapper{
  background-image: url('../images/fotolia_131725193.jpg');
  height: 370px;
  background-size: cover;
  width: 100%;
  position: relative;
  background-position: center -100px;  
}
#baseline{
  color: #cdcfc7;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
#p2r{
  font-size: 24px;
  line-height: 2;
  text-align: center;
  background-color: #F7F5F2;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  color: #5A8FA8;
}
.lead{
  padding-top: 30px;
}
/* Button */

a#contact-button.btn.btn-primary.btn-lg{
  background-color: rgba(90,143,168,0.3);
  color: #ffffff;
  border :2px solid;
  border-radius: 0px;
  font-size: 22px;
  margin-top: 30px;
  text-transform: uppercase;
}
#contact-button.btn.btn-primary.btn-lg:hover{
background: #5A8FA8;
border:0px;

}
.caption{
  position:absolute;
  top:120px;
  font-size: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #5A8FA8;
}
#who{
  color: #5A8FA8;
  background-color: #F7F5F2;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: justify;
  line-height: normal;
}
#who h2{
  text-transform: uppercase;
  text-align: center;
}
.work ul{
  background-color: #ffffff;
  box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.10);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: initial;
  min-height: 140px;
}
.work h3{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
section{
  background-color: #fdfdfd;
}

/* Footer */

.social a{
  font-size: 30px;	
}
#footer {
  background-color: #5A8FA8;
  color: white;
  padding-top: 1em;
 }
#footer a {
  color: #cdcfc7;
}
#footer a:hover {
  color: white;
}
li {
  list-style: none;
  border-bottom: 10px;
} 
ul.footer-p2r{
  padding-left: 0px;
  line-height: 2;
}
ul.info{
	padding-left: 0px;
}
p.title-footer-p2r{
  color:#cdcfc7;
  font-size: 14px;
  margin : 0px;
  text-transform: uppercase;
}
i.fa.fa-envelope-o{
	font-size: 25px;
}
i.fa.fa-phone{
	font-size: 25px;
}

/* Bootstrap navbar */

.navbar{
  border-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #ffffff;
}
.navbar-fixed-top .navbar-brand,
.navbar-fixed-top .navbar-nav > li>a {
  color: #5A8FA8;
}
ul.nav.navbar-nav.navbar-right{
  font-size: 20px;
}
.navbar-brand{
  padding: 0px;
}
.vertical-spacer {
  height: 2em;
}
#images img{
  border: 2px solid #5A8FA8;
}
#images span{
  display: block;
  color: white;
  text-align: center;
  background-color: #5A8FA8;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  width: 350px;
  margin-bottom: 15px;
}
#images.container h3 {
  color: #5A8FA8;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.modal.and.carousel {
  position: fixed;
}
.realisation{
  background-color: #F7F5F2;
  padding-top: 50px;
  color: #5A8FA8;
  text-transform: uppercase;
}
.realisation img{
  padding-bottom: 5px;
}
.container.place{
  background-color: #ffffff;
  box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.10);
  padding-left:initial;
}
.container.room{
  padding-bottom: 20px;
}
#video{
  background-color: #F7F5F2;
  padding: 40px;
}
#youtubevideo{
 text-align: center;
 padding-top: 20px;
}
#video h4{
  color: #5A8FA8;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
